<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<br>
	
	<h4 class="card-title">
		<a class="btn btn-light btn-xs" th:href="@{'/facturas/form/' + ${cliente.id}}" th:text="'Crear Factura'"></a>
	</h4>

	<div class=" container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body"></div>
			<img style="max-width: 25%" th:src="@{'/uploads/' + ${cliente.foto}}"
				th:alt="${cliente.foto}">


			<ul class="list-group">
				<li class="list-group-item" th:text="${cliente.nombre}"></li>
				<li class="list-group-item" th:text="${cliente.apellido}"></li>
				<li class="list-group-item" th:text="${cliente.email}"></li>
				<li class="list-group-item" th:text="${cliente.createAt}"></li>
			</ul>
		</div>
		
		<div>
		<div th:if="${#lists.isEmpty(cliente.facturas)}"  class="lert alert-info my-4"
		th:text="'No hay facturas asignadas al cliente ' + ${cliente.nombre} + ' '+ ${cliente.apellido}">
		
		</div>
			<table class="table my-4" th:if="${not #lists.isEmpty(cliente.facturas)}">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Descripcion</th>
						<th>Fecha</th>
						<th>Total</th>
						<th> ver</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="factura: ${cliente.facturas}">
						<td th:text="${factura.id}"></td>
						<td th:text="${factura.descripcion}"></td>
						<td th:text="${factura.createAt}"></td>
						<td th:text="${factura.total}"></td>
						<td> <a  class="btn btn-primary btn-xs" th:href="@{'/facturas/ver/' + ${factura.id}}"  th:text="'Detalle'"> </a> </td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
		
	<br>
	<br>

</body>
</html>